* {
    box-sizing: border-box;
    text-align:center;
    background-color:#777;
    font-family:Arial, Helvetica, sans-serif
}
header {
    color:#777;
    background-color: #ebebeb;
    padding: 20px;
    margin:10px auto;
    width:960px;
    }
body {
    width: 960px;
}
Nav {
        color:#777;
        background-color: #ebebeb;
        padding: 20px;
        margin:10px auto;
        width:960px;
    }

footer {
        clear:both;
        color:#777;
        background-color: #ebebeb;
        padding: 20px;
        margin:10px auto;
        width:960px;
    }

#section {
    display:inline-block;
    float:left;
    width:495px;
    margin:5px 5px 10px 0px;
    height:200px;
    background-color: #ebebeb;
    display:inline-block;
    color:#777;
    padding:20px;
}

aside {
    line-height: 70px;
    float:right;
    width:450px;
    background-color: #ebebeb;
    margin:5px 0px 10px 5px;
    height:200px;
    color:#777;
}
#sectionHeader {

    background-color: #ebebeb;
    color:#777;
}
#smaller {
    background-color:#777;
    height:115px;
}
#headers {
    background-color:#ebebeb;
    padding:5px;
    color:#777;
    font-weight: 600;
    margin-top:10px;
    height:40px;
  }
#ps {
    background-color:#ebebeb;
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;
    color:#777;
}
#article {
    background-color: #777;
     padding:10px;
     color:#ebebeb;
     height:140px;
     margin-top:10px;
}


